// Colors
$primaryColor: hsl(22, 98%, 58%);
$hover: hsl(22, 80%, 52%);
$gradientColor: linear-gradient(to left, #FF4444 0%, #FD772B 50%, #FAA913 100%);
$gradientColorHover: linear-gradient(to right, #FF4444 0%, #FD772B 50%, #FAA913 100%);

$white: hsl(0, 0%, 100%);
$textColor: hsl(0, 0%, 13%);
$pColor: hsl(0, 0%, 33%);

// Font Sizes
$normalFont: 14px;

// Font Family
$firstFont: 'Overpass';
$secondFont: 'Montserrat';